/***************************** NAVBAR *****************************/
@media (width <= 57.6rem) {
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 2.4rem;
    right: 3rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
  }

  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 2.9rem;
    right: 3.5rem;
    background-image: radial-gradient(#e47c01, #e47c01);
    z-index: 1000;
    transition: transform 0.7s cubic-bezier(0.83, 0, 0.17, 1);
  }

  .navigation__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
  }

  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
    width: 100%;
  }

  .navigation__item {
    margin: 1rem;
  }

  .navigation__link:is(:link, :visited){
    display: none;
    transition: all 0.2s;
  }
  .navigation__checkbox:checked ~ .navigation__nav .navigation__link:is(:link, :visited) {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      white 50%
    );
    background-size: 250%;
  }
  .navigation__link:link span,
  .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block;
  }

.navigation__checkbox:checked ~ .navigation__nav .navigation__link:is(:hover, :active) {
    background-position: 100%;
    color: #e47c01;
    transform: translateX(1rem);
  }

  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80);
  }

  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
  }

  .navigation__icon {
    position: relative;
    margin-top: 3.5rem;
  }
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    width: 3rem;
    height: .2rem;
    background-color: #333;
    display: inline-block;
  }
  .navigation__icon::before,
  .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }
  .navigation__icon::before {
    top: -.8rem;
  }
  .navigation__icon::after {
    top: .8rem;
  }

  .navigation__button:hover .navigation__icon::before {
    top: -1rem;
  }

  .navigation__button:hover .navigation__icon::after {
    top: 1rem;
  }

  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
  }

  .navigation__checkbox:checked
    + .navigation__button
    .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

@media (width <= 41rem) {

  .introduction-text h1{
    width: 4rem;
  }
}

@media (width > 57.6rem) {
  .header.sticky {
    position: sticky;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0.5px .1rem rgba(0, 0, 0, 0.15);
    z-index: 2;
    top: 0;
  }
  .navigation__background{
    display: none;
  }
  .navigation__list {
    list-style: none;
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 1.5rem;
    height: 5vh;
  }
  .navigation__list li {
    cursor: pointer;
    width: auto;
    text-align: center;
    background-image: linear-gradient(90deg, #e47c01, #e47c01);
    background-size: 0% .2rem;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: background-size 300ms ease;
    padding-inline: 1rem;
    height: 2.5rem;
  }
  .navigation__list li:hover {
    background-size: 100% .2rem;
  }
}

/***************************** BUTTON *****************************/

.btn {
  background-color: #e47c01;
  color: #fff;
  border: .1rem solid #e47c01;
  cursor: pointer;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  padding: .7rem 4rem;
  text-transform: uppercase;
  border-radius: 10rem;
  text-decoration: none;
  width: fit-content;
}
.btn:hover{
  background-color: transparent;
  color: #e47c01;
  border: .1rem solid #e47c01;
  text-decoration: none;
}

/***************************** CARD *****************************/

.card {
  background-color: transparent;
  border-radius: 1rem;
  margin: .5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0rem .1rem .3rem, rgba(0, 0, 0, 0.24) 0rem .1rem .4rem;
  transition: transform 0.3s ease 0s;
  height: 100%;
}
.card:hover {
  background-color: #e47c01;
  color: #fff !important;
  transform: scale(1.05);
  z-index: 2;
}
.card:hover .card-text h3 {
  color: #fff;
}
.card:hover img {
  filter: brightness(0) invert(1);
}
.card-text {
  padding: 1.6rem;
  gap: 1.6rem;
}
.card-text h3 {
  color: #e47c01;
  font-size: 1.8rem;
  letter-spacing: .2rem;
}
.card-text h4 {
  font-size: 1.4rem;
  letter-spacing: .2rem;
}
.card-text p {
  word-spacing: .2rem;
}

/***************************** CIRCLE *****************************/

.circle {
  background-color: transparent;
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  text-align: center;
  perspective: 150rem;
  position: relative;
}
.circle-side {
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 1.5px .4rem rgba(0, 0, 0, 0.15);
}
.service-front {
  background-color: #fff;
}
.service-back {
  transform: rotateY(180deg);
  background-color: #e47c01;
  color: #fff;
}
.circle:hover .service-front {
  transform: rotateY(-180deg);
}
.circle:hover .service-back {
  transform: rotateY(0);
}
.service-front img,.contact img {
  width: 5.2rem;
  height: auto;
}

/***************************** PROGRESS *****************************/

.design {
  --width: 60%;
}
.methodologies {
  --width: 90%;
}
.communication {
  --width: 95%;
}
.JavaScript {
  --width: 70%;
}
.Usability {
  --width: 90%;
}
.Adobe {
  --width: 55%;
}
.analysis {
  --width: 80%;
}
.ambitious {
  --width: 100%;
}
.progress {
  box-shadow: 0 1.5px .4rem rgba(0, 0, 0, 0.15);
  border-radius: 0 .8rem .8rem 0;
  position: relative;
  height: 3rem;
  width: 100%;
}

.progress-value {
  border-radius: 0 .8rem .8rem 0;
  background-color: #e47c01;
  height: 3rem;
  width: 0;
}
.progress-value--animate{
  animation: load 3s normal forwards;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: var(--width, 70%);
  }
}

/***************************** PROJECT CARD *****************************/

.project_card{
  position: relative;
  height: 28rem;
  border-radius: 4rem 4rem 4rem 0;
  overflow: hidden;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0rem .3rem .8rem;
  font-size: 1.6rem;
  font-weight: 400;
  min-height: 20rem;
  width: 100%;
  background: #fff;
  z-index: 3;
}
.card__title{
  height: 25rem;
  width: 100%;
  background-size: 100% 100%;
  background-position: 0 86%;
  background-repeat: no-repeat;
  color: #fff;
}
.project-1{
background-image: url('../img/Screenshot\ \(4\).png');
}
.project-2{
  background-image: url('../img/Screenshot\ \(4\).png');
}
.project-3{
  background-image: url('../img/Screenshot\ \(4\).png');
}
.card_overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #fff;
  transform: translateY(100%);
  height: 0;
  width: 100%;
}
.card__header{
  position: relative;
    padding: 1em;
    border-radius: 4rem 0 0 0;
    background-color: #fff;
    transform: translateY(-100%);
}

.card__arc{
  width: 8rem;
    height: 8rem;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 0;
    vertical-align: middle;
}
.card__arc path {
  fill: #fff;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}
.card-btn{
font-size: 1.6rem;
padding: .5rem 3.5rem;
}
