* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  color: #000;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: rgb(238, 238, 228);
}
section {
  padding-bottom: 3.2rem;
}

a {
  text-decoration: none;
  color: #000;
}
.introduction {
  height: 95vh;
}
.img-container{
  text-align: center;
}
.introduction-img {
  width: 72%;
  height: auto;
  clip-path: circle(50% at 50% 50%);
}
.introduction-text {
  gap: 1.6rem;
  text-wrap: balance;
}
.introduction-text h1 {
  color: #e47c01;
}
.introduction-text h3 span{
  font-size: 1.5rem;
  letter-spacing: .1rem;
}
.linkedin-icon img {
  margin-top: 1.5rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
}
.CV-button a {
  border-radius: 10rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  padding: .4rem .8rem;
  border: .1rem solid #000;
  background-color: rgba(238, 238, 228, 0.8);
}
.CV-button {
  margin-top: 3rem;
}
.CV-button a:hover {
  background-color: #e47c01;
  color: #fff;
  cursor: pointer;
  border: .1rem solid #e47c01;
}
#job-title {
  white-space: nowrap;
  overflow: hidden;
  border-right: .2rem solid black; 
  animation: typing 2s steps(30, end);
  max-width: fit-content !important; 
  vertical-align :middle ;
}
#job-title.finished {
  border-right: none; 
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
.card img {
  width: 3.2rem;
  height: 2.8rem;
}
section h2 {
  color: rgb(228, 124, 1);
  padding-block: 3.2rem;
}
.full-width-invert {
  box-shadow: 0 0 0 100vmax #fff;
  clip-path: inset(0 -100vmax);
  background-color: #fff;
}
.service {
  gap: 2.4rem;
}

.skills-section {
  margin-top: 3.2rem;
}
.title-controller {
  width: 100%;
  color: #000000c3;
}
.contact-info, .service p, section h2 {
  text-align: center;
}
.contact-info .flex-column{
  gap: 3.9rem;
}
.input-group {
  position: relative;
 }

 .input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 2rem;
  color: #000;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
  width: 100%;
 }
 textarea{
  resize: none;
 }
 .user-label {
  position: absolute;
  left: 1.5rem;
  color: #e47c01;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
 }
 
 .input:focus, .input:valid {
  outline: none;
  border: 1.5px solid #e47c01;
 }
 
 .input:focus ~ label, .input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: rgb(238, 238, 228);
  padding: 0 .2em;
  color: #e47c01;
 }
.bi{
  color: #e47c01;
  width: 3.4rem;
  height: 4.8rem;
}
.icon-controller-svg{
  max-height: 4rem;
}
.contact-text {
  width: 26.4rem;
}
@media ( width < 120rem ) {
  .space{
    display: inline-block;
  }
}
.footer-content{
  color: #aaa;
}
.footer-content a{
  color: #fff;
}
footer{
  background-color: #37383d;
}


